body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

p { 
    color: white;
}

header {
    color: #fff;
    padding: 1em 3em;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
header h1 a:hover {
    text-decoration: underline;
}
header a {
    text-decoration: none;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}
section {
    padding: 2em;
    margin: 1em 0;
}
#home {
   
    height: 500px;
    width: fit-content;
}
#home h1 {
    font-size: 80px;
    font-weight: 500;
    margin-left: 76%;
    margin-top: 40%;
}

#home-image {
    width: 530px;
    position: absolute;
    top: 14%;
    left: 47%;
}

